<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="a">Enter a number </label>
  <input id="a" type="text" name="users_number"></input>
  <button>Calculate square</button>
</form>
