<form action="/random/results">
  <div>  
    <label for="min">Minimum</label>
    <input id="min" type="text" name="user_minimum" placeholder="E.g. 1.5"></input>
  </div>
  <div>  
    <label for="max">Maximum</label>
    <input id="max" type="text" name="user_maximum" placeholder="E.g. 4.5"></input>
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
