<form action="/square_root/results">
  <label for="a">Enter a number </label>
  <input id="a" type="text" name="users_number" placeholder="What number do you want to take the square root of?"></input>
  <div>
    <button>Calculate square root</button>
  </div>
</form>
